
@using SWEprotein.Models



<link href="~/Content/OverrideBStrap.css" rel="stylesheet" />
 
 

<div class="row">
 
  

    @foreach (tbProduct prod in Model)
    {
        <div class="col-md-3" style="padding-left:5px; padding-right:5px;">
            <div class="thumbnail" style="height:220px;">
                <img src="@prod.sPicture" class="img-responsive" alt="..." style="height:80px;">
                <div class="caption">
                    <p style="font-weight:bold">@prod.sName</p>
                    <p style="font-size:x-small">@prod.sDescription</p>
                    <hr style="color:darkgrey; margin-top:5px; margin-bottom:30px;"/>
                    <p style="font-weight:bold">Pris: @prod.iPrice:- @Html.ActionLink("Köp", "CartAdd", "Cart", new {id = prod.iID}, new {@class="btn-xs btn-primary"}) </p>
                </div>
            </div>
        </div>
   
    }
</div>
<div class="text-center"><ul class="pagination">
  <li><a href="/Product/Index/0">&laquo;</a></li>
  <li>@Html.ActionLink("1", "Index", "Product", new {pagination = 1}, null)</li>
  <li>@Html.ActionLink("2", "Index", "Product", new {pagination = 2}, null)</li>
  <li>@Html.ActionLink("3", "Index", "Product", new {pagination = 3}, null)</li>
  <li>@Html.ActionLink("4", "Index", "Product", new {pagination = 4}, null)</li>
  <li>@Html.ActionLink("5", "Index", "Product", new {pagination = 5}, null)</li>
  <li><a href="/Product/Index/0">&raquo;</a></li>
</ul></div>
    