@using SWEprotein.Models
@model List<tbProduct>
@{
    ViewBag.Title = "SWEprotein";

}
<style type="text/css">
    
    /* Behållare för en rad av produktrutor */
    #productListing {
        width:1040px;
        float:left;
    }
    
    /* Behållare för en produktruta */
    .productWrapper {
        float:left;
        width:200px;
        height:275px;
        background-color:white;
        margin:5px;
        color:black;
    }
        /* Egenskaper för alla div-ar innuti productWrapper */
        .productWrapper div {
            margin:5px;
        }

    /* Produktbeskrivning */
    .productDescription {
        border-top:ridge;
        border-bottom:ridge;
    }

    /* Bild på produkten */
    .productIMG {
        margin:0 auto;
        height:100px;
        width:80px;
    }


</style>

<div>
   
    <p>
        Sortera produkter:
        <select id="ddlSortProducts">
            <option value="">------</option>
            <option value="name">Namn</option>
            <option value="price">Pris</option>
            <option value="popularity">Popularitet</option>
        </select>
    </p>


    <div id="productListing">
       
        @{
            List<tbProduct> products = new List<tbProduct>();

            if (Request.QueryString["sort"] == "name")
            {
                products = Model.OrderBy(c => c.sName).ToList();
            }

            else if (Request.QueryString["sort"] == "price")
            {
                products = Model.OrderBy(c => c.iPrice).ToList();
            }

            else if (Request.QueryString["sort"] == "popularity")
            {
                products = Model.OrderByDescending(c => c.iItemsSold).ToList();
            }

            else
            {
                products = Model.ToList();
            }


            foreach (tbProduct p in products)
            {
                <div class="productWrapper thumbnail">
                    <div class="productIMGWrapper">
                        <img class="productIMG img-responsive" src="@p.sPicture" />
                    </div>
                    <div class="productFacts">
                        <div class="productName">
                            <h3>  @p.sName</h3>
                        </div>          
                        <div>
                            @p.sDescription<br/><br/>
                        </div>
                    </div>                    
                    <div class="productBuy">
                          
                      
                        <div class="addCart">
                            Pris: @p.iPrice:- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          
                            @Html.ActionLink("Lägg till", "CartAdd", "Cart", new {id = p.iID}, new { @class= "btn btn-warning btn-xs"})
                        </div>
                    </div> 
                </div>               
            } 
        }
    </div>
</div>
