@model SWEprotein.Models.tbProductType

@{
    ViewBag.Title = "AdderaProdukt";
}

<h2>Lägg till Produkt</h2>


@using (Html.BeginForm("AdderaProdukt", "Admin", FormMethod.Post,
    new {enctype = "multipart/form-data"}))
{
    <p>Produktnamn</p>
    @Html.TextBox("ProductName")
    <p>Produktbeskrivning</p>
    @Html.TextArea("ProductDesc", null, new {@class = "form-control", rows = "3"})

    <p>Produktpris</p>
    @Html.TextBox("ProductPrice")
    <p>Antal</p>
    @Html.TextBox("ProductQuantity")
    <p> Produkttyp</p>
    @Html.DropDownList("productType")


    <br/>
    <p>Produktbild:</p>
    <input type="file" name="file" />

    <br />
    <input type="submit" value="Lägg in Produkt" />

    <br/>
    <br/>
    @Html.ActionLink("Tillbaka", "AdminSidan", "Admin")

    <h4>@ViewBag.status</h4>
}
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
