@using Microsoft.Ajax.Utilities
@using SWEprotein.Models
@model IEnumerable<SWEprotein.Models.tbProduct>




<style type="text/css">
    
    /* Behållare för en rad av produktrutor */
    #productListing {
        width:1040px;
        float:left;
    }
    
    /* Behållare för en produktruta */
    .productWrapper {
        float:left;
        width:200px;
        height:275px;
        background-color:white;
        margin:5px;
        color:black;
    }
        /* Egenskaper för alla div-ar innuti productWrapper */
        .productWrapper div {
            margin:5px;
        }

    /* Produktbeskrivning */
    .productDescription {
        border-top:ridge;
        border-bottom:ridge;
    }

    /* Bild på produkten */
    .productIMG {
        margin:0 auto;
        height:80px;
        width:60px;
    }
            /*<div id = "productListing" >*/

</style>

    @foreach (tbProduct f in Model.DistinctBy(c => c.iID))
    {
        <div class="row" style="float:left">
            <div class="productWrapper thumbnail" style="margin:5px">
            <div class="col-xs-6 col-md-4">
                <div class="productIMG">
                    <img src="@f.sPicture" class="img-responsive"/>
                </div>
                <div>
                    <div class="productFacts">
                        <h4>@f.sName</h4>
                    </div>
                    <div class="addcart">
                        <h5>Pris: @f.iPrice</h5>
                    </div>
                    <h6>Antal: @f.iCount</h6>
                    @Html.ActionLink("Ta bort från kundkorg", "CartRemove", new {id = f.iID}, new { @class="btn btn-warning btn-xs"})  
                </div>
                        
            </div>
                </div>
        </div>    
     }

@using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post,
    new {enctype = "multipart/form-data"}))
{
    <div>
        <br/>
        <br/>
        
        <div class="productWrapper">
        <p>Mail:</p>
        @Html.TextBox("mail")<br/>
        <p>Adress:</p>
        @Html.TextBox("adress")<br/>
        <p>Postnummer:</p>  
        @Html.TextBox("postnumber")<br/>
        <p>Ort:</p>
        @Html.TextBox("city")<br/>
        <br/>
            <input type="submit"value="Lägg order" />
            
            </div>
        </div>
}



